<div style="width: 780px;margin:0 auto;">
  <div class="m_3760999001159409807hse-column-container" style="min-width:280px;max-width:600px;width:100%;Margin-left:auto;Margin-right:auto;border-collapse:collapse;border-spacing:0;background-color:#ffffff;padding-bottom:40px;padding-top:40px" bgcolor="#ffffff">




    <div id="m_3760999001159409807column-0-0" class="m_3760999001159409807hse-column m_3760999001159409807hse-size-12">
      <p style="font-family:'Asap',sans-serif;font-style:normal;color:#23496d;">Hello <b>{{firstname}}</b>,</p>
      <h3><p style="font-family:'Asap',sans-serif;font-style:normal;color:#23496d;text-align:center;">{{message}} to
        <br/>{{orgname}}<br/> in WhyLabs.</p></h3>

      <div style="font-family:'Asap',sans-serif;font-style:normal;color:#23496d;text-align:center;width:100%;margin-bottom: 10px;'">
        <div style="display:inline-block;background:linear-gradient(94.15deg, #EA5B4F -10.2%, #F9C452 102.94%);max-height:30px;padding: 5px 15px;color:white;text-decoration:none;font-family:'Asap',sans-serif;border-radius:4px;line-height:20px;">
          <a href="{{loginurl}}" rel="noopener" style="text-decoration: none; color: white;" target="_blank">{{buttontext}}</a></div>
      </div>

      If this is your first time using WhyLabs, please follow <a href="https://hub.whylabsapp.com/signup" style="color:#00a4bd"> this link </a> to create
      your WhyLabs account. After signing up, you will be able to log in and see that you have been added to org {{orgname}}.
      <br/><br/>
      If you have trouble signing in please contact your
      <a href="mailto:enterprise@whylabs.ai" rel="noopener" style="color:#00a4bd" target="_blank">WhyLabs Admin</a> or
      contact
      <a href="https://support.whylabs.ai/hc/en-us/requests/new" rel="noopener" style="color:#00a4bd" target="_blank">WhyLabs
        Support</a>.</p>

      <p style="font-family:'Asap',sans-serif;font-style:normal;color:#23496d">Run AI with
      Certainty!<br/>
        WhyLabs Support</p>
      <p style="font-family:'Asap',sans-serif;font-size:12px;font-weight:normal;text-decoration:none;font-style:normal;color:#23496d;direction:ltr;text-align:center;" dir="lrt">
        WhyLabs, Inc., 2157 N Northlake Way #110, Seattle,
        WA<br/><a href="https://hub.whylabsapp.com/settings/notifications" rel="noopener" style="color:#00a4bd" target="_blank">Manage
        your notifications</a> |
        <a href="mailto:support@whylabs.ai" rel="noopener" style="color:#00a4bd" target="_blank">Contact us to stop
          receiving these emails</a></p></div>
  </div>
</div>