<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email digest template</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet" />
  </head>

  <body style="margin: 0">
    <div style="width: 720px; margin: 0 auto; background-color: #fafafa; padding: 20px 0 30px">
      <h1
        style="
          margin: 0;
          color: #005566;
          font-family: 'Asap', Arial, Helvetica, 'sans-serif';
          padding-left: 250px;
          text-align: center;
          font-weight: normal;
          font-size: 28px;
          background-color: #fafafa;
        "
      >
        <!-- TODO: Insert org name here -->
        Notification Digest
      </h1>
      <div
        style="color: #005566; text-align: center; font-family: 'Asap', Arial, Helvetica, 'sans-serif'; font-size: 14px"
      >
        {{ date_range_user_display fromTimestamp toTimestamp }}
      </div>
      <div
        style="
          margin-top: 14px;
          color: #005566;
          font-family: 'Asap', Arial, Helvetica, 'sans-serif';
          text-align: center;
          font-size: 16px;
        "
      >
        {{ global_summary modelCount totalAlertCount }}
      </div>


      <!-- All models wrapper -->
      {{#if totalAlertCount }}

      <table
        style="
          width: 600px;
          margin: 14px 60px;
          font-family: 'Asap', Arial, Helvetica, 'sans-serif';
          background-color: #fff;
          padding:15px;
          border: 2px solid #dbe5e7;
          border-radius: 4px;
        "
      >

      <tbody>
        {{#each modelNotificationRows}}

        <tr>
          <td {{get_row_item_style this}} >
            <!-- First row Model -->
              <table style="width: 268px; ">
              <tbody>
                <tr>
                  <td>
                    <p style="margin:0;">
                      <b>
                        <a
                          {{link_href this.first.modelDashboardUrl (date_range_url_display ../fromTimestamp ../toTimestamp)}}
                          style="color: #0e7384; font-size: 14px"
                        >
                          {{this.first.name}}
                        </a>
                      </b>
                    </p>
                  </td>
                </tr>

                <!-- Total alert count -->
                <tr>
                  <td>
                    <span style="font-size: 36px; margin: 0; color: #313b39; padding:0">{{this.first.totalAlertCount}}</span>
                    <a
                      {{link_href this.first.modelAlertsUrl (date_range_url_display ../fromTimestamp ../toTimestamp)}}
                      style=" color: #0e7384; font-size: 12px;"
                    >
                    alerts
                    </a>
                  </td>
                </tr>

                <!-- Alerts by type summary -->
                <tr style="margin-top: 10px; width:230px;">
                  <td>
                    <table >
                      <tbody>
                        {{#each this.first.alertCounts}}
                        <tr>
                          <td style="width:160px">
                            <a {{link_href this.alertsUrl (date_range_url_display ../../fromTimestamp ../../toTimestamp)}} style="color: #0e7384; font-size: 14px">{{this.prettyType}}</a>
                          </td>
                          <td style="margin-left: 10px; font-size: 12px; text-transform: capitalize; color: #000;">
                            <span >{{s_pluralize 'alert' this.count}}</span>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </td>
                </tr>

                <!-- Top three most alerted features -->
                <tr style="margin-top: 10px; width:230px;">
                  <td>
                    <table >
                      <tbody>
                        {{#each this.first.featureAlerts}}
                        <tr>
                          <td style="width:160px">
                            <a {{link_href this.alertsUrl (date_range_url_display ../../fromTimestamp ../../toTimestamp)}} style="color: #0e7384; font-size: 14px">{{this.featureName}}</a>
                          </td>
                          <td style="margin-left: 10px; font-size: 12px; text-transform: capitalize; color: #000;">
                            <span >{{s_pluralize 'alert' this.totalAlertCount}}</span>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>

            </table>

          </td>
          {{#if this.last}}
            <td {{get_row_item_style this}} >
            <!-- Second model per row -->
              <table style="width: 268px;">
              <tbody>
                <tr>
                  <td>
                    <p style="margin:0;">
                      <b>
                        <a
                          {{link_href this.last.modelDashboardUrl (date_range_url_display ../fromTimestamp ../toTimestamp)}}
                          style="color: #0e7384; font-size: 14px"
                        >
                          {{this.last.name}}
                        </a>
                      </b>
                    </p>
                  </td>
                </tr>

                <!-- Total alert count -->
                <tr style="margin-top: 10px;">
                  <td >
                    <span style="font-size: 36px; margin: 0; color: #313b39; padding: 0;">{{this.last.totalAlertCount}}</span>
                    <a
                      {{link_href this.last.modelAlertsUrl (date_range_url_display ../fromTimestamp ../toTimestamp)}}
                      style=" color: #0e7384; font-size: 12px"
                    >
                    alerts
                    </a>
                  </td>
                </tr>

                <!-- Alerts by type summary -->
                <tr style="margin-top: 10px; width:230px;">
                  <td>
                    <table >
                      <tbody>
                        {{#each this.last.alertCounts}}
                        <tr>
                          <td style="width:160px">
                            <a {{link_href this.alertsUrl (date_range_url_display ../../fromTimestamp ../../toTimestamp)}} style="color: #0e7384; font-size: 14px">{{this.prettyType}}</a>
                          </td>
                          <td style="margin-left: 10px; font-size: 12px; text-transform: capitalize; color: #000">
                            {{s_pluralize 'alert' this.count}}
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </td>
                </tr>

                <!-- Top three most alerted features -->
                <tr style="margin-top: 10px; width:230px">
                  <td>
                    <table>
                      <tbody>
                        {{#each this.last.featureAlerts}}
                        <tr>
                          <td style="width:160px">
                            <a {{link_href this.alertsUrl (date_range_url_display ../../fromTimestamp ../../toTimestamp)}} style="color: #0e7384; font-size: 14px">{{this.featureName}}</a>
                          </td>
                          <td style="margin-left: 10px; font-size: 12px; text-transform: capitalize; color: #000; ">
                            {{s_pluralize 'alert' this.totalAlertCount}}
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>

            </table>

          </td>
          {{/if}}

        </tr>

        {{/each}}

      </tbody>

      </table>

      {{/if}}
      <!-- end all models wrapper-->
    
    </div>
  </body>
</html>
